.container {
    margin-top: 50vh;
    position: relative;

    border: 1px solid;
    border-radius: 50%;
    margin: auto;
    min-width: 200px;
}


.child {
    position: absolute;
    border-radius: 50%;
    top: -50%;
    left: 0px;
    height: 100%;
    width: 100%;
    transform-origin: bottom;
    transition: 1s ease;
}

.child:after {
    position: absolute;
    content:'';
    bottom: 0px;
    left: 0px;
    height: 55px;
    width: 25px;
    background: black;
    border-radius: 10px;
}


.topButtons{
    border-radius: 10px;
    background-color: red;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    position: absolute;
    transition: opacity 0.5s, transform 1s;
}

#div-container {
    /* float: left; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    width: 155vh;
    background-color: #333;
    height: 50vh;
    position: relative;
    transition: opacity 0.5s, transform 0.5s;
}



.div-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    margin: 10px;
}

.image {
    width:150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    /* animation: fade 0.5s forwards; */
    /* transform: translate(30px, 20px) rotate(20deg); */
}

#left-button, #right-button {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.image-container {
    position: relative;
    width: 300px;
    height: 200px;
}

.navParent{
    height: 40vh; 
    width: 100%;
    /* overflow: hidden; */
}

@keyframes myOrbit {
    from { transform: rotate(-30deg) translateX(400px) translateY(90px); }
    to   { transform: rotate(30deg) translateX(350px) translateY(0px); }
}

